
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<style>
body {font-family: Arial;}


</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歷史用電量查詢介面</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            font-family: "Roboto";
        }

        body {
            background-color: #F5F5F5;
        }
    </style>
</head>
<body>

    <header>
        <table class="table"  align="center">
           
              <tr class="table-warning" align="center">
                
                <th scope="col-6"  ><button type="button" class="btn btn-outline-info">首頁</button></th>
                <th scope="col-6"  ><button type="button" class="btn btn-outline-info" >歷史用電量查詢介面</button></th>
                <th scope="col-6"  ><button type="button" class="btn btn-outline-info">歷史節能量</button></th>
              </tr>
        </table>
      </header>
      <table class="table-borderless table" align="center">
        <tr >
          <th style="display: flex; flex-direction: row; align-items: center;">
            <div>查詢資料:</div>
            <select class="form-control" style="width:200px" id="point">
                <option class="drop-down" value="electricity">電力能耗資料</option>
                <option class="drop-down" value="ice-water">冰水側資料</option>
                <option class="drop-down" value="cooling-water">冷卻水側資料</option>
              </select>
          </th>
          <th>
            查詢時段:  
            <input type="date" id="firstdate">
            ~
            <input type="date" id="enddate" >
            <button type="submit" id="show" class="btn btn-warning">查詢</button>
          </th>
          <th>
            查詢時段:  
            <input type="date" id="firstdate">
            ~
            <input type="date" id="enddate" >
            <button type="submit" id="show" class="btn btn-warning">查詢</button>
          </th>
        </tr>
  </table>
</body>
</html>