
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<style>
body {font-family: Arial;}


</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歷史節能量查詢介面</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            font-family: "Roboto";
        }

        body {
            background-color: #F5F5F5;
        }
        #content{
        height:100%;
        background-color:#F5F5F5;
        padding-top:20px;
        }
    </style>
</head>
<body>

    <header>
        <table class="table"  align="center">
           
              <tr class="table-warning" align="center">
                
                <th scope="col-6"  ><a href="/api/exportPdfWeather/"> <button type="button" class="btn btn-outline-info" >首頁</a></button></th>
                <th scope="col-6"  ><a href="/api/uploadFile/"><button type="button" class="btn btn-outline-info" >歷史用電量查詢介面</a></button></th>
                <th scope="col-6"  ><a href="/api/dataAnalytics/"><button type="button" class="btn btn-outline-info">歷史節能量</a></button></th>
              </tr>
        </table>
      </header>
      <form class="form-inline"  method="POST">
          {% csrf_token %}
      <table class="table-borderless table" align="center">
        <tr style="display: flex; justify-content: space-around; align-items: center;">
        <h4 style="color:rgb(255, 145, 0);font-weight:bold;"  align="left" >歷史節能量查詢</h4>
          <th>
            查詢時段:  
            <input type="date"  name="picker_start" class="form-control" id="picker_start" placeholder="開始日期">
            ~
            <input type="date" name="picker_end" class="form-control" id="picker_end" placeholder="結束日期" >
            <button type="submit" id="check" class="btn btn-warning">查詢</button>
        
          </th>
        </form>
        <th>
            輸出檔案:
            <button  id="excel" class="btn btn-outline-warning">EXCEL</button>
            <button  id="pdf" class="btn btn-outline-warning">PDF</button>
          </th>
        </tr>
      </table>
      <div>查詢結果</div>
      <canvas id="example" style="margin-left:20px;"></canvas>
  <script>
  	var ctx = document.getElementById( "example" ),
  		example = new Chart(ctx, {
  			// 參數設定[註1]
  			type: "bar", // 圖表類型
  			data: {
  				labels: [ "Red", "Green", "Blue" ], // 標題
  				datasets: [{
  					label: "# of Votes", // 標籤
  					data: [ 12, 19, 3 ], // 資料
  					backgroundColor: [ // 背景色
  					"#FF0000",
  					"#00FF00",
  					"#0000FF",
  					],
  					borderWidth: 1 // 外框寬度
  				}]
  			}
  		});
  </script>
</body>
</html>