<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>各月資料上傳</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            font-family: "Roboto";
        }

        body {
            background-color: #F5F5F5;
        }

        form {
            background-color: rgb(255, 227, 149);
            padding: 25px;
        }
    </style>
</head>
<body>
    <form action="{% url 'uploadFile' %}" method="POST" enctype="multipart/form-data" align="center">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">上傳</button>
    </form>
</body>
</html>